<?xml version="1.0" encoding="UTF-8"?>
<!--
spring 整合hibernate的相关配置

主要包括数据源设置，sessionfactoryd
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

    <!-- 扫描路径不扫描controller -->
    <context:component-scan base-package="com.shop">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!-- 配置数据库相关参数 -->
    <context:property-placeholder location="classpath:properties/db.properties" file-encoding="utf-8" ignore-unresolvable="true" />

    <!-- 使用C3P0数据源，MySQL数据库 -->
    <!--<bean id="dataSource" class="${jdbc.dataSource}" >-->
        <!--<property name="user" value="${jdbc.username}"></property>-->
        <!--<property name="password" value="${jdbc.password}"></property>-->
        <!--<property name="driverClass" value="${jdbc.driverClassName}"></property>-->
        <!--<property name="jdbcUrl" value="${jdbc.url}"></property>-->
        <!--&lt;!&ndash; 配置其他属性 &ndash;&gt;-->
        <!--<property name="maxPoolSize" value="40"></property>-->
        <!--<property name="minPoolSize" value="1"></property>-->
        <!--<property name="initialPoolSize" value="1"></property>-->
        <!--<property name="maxIdleTime" value="20"></property>-->
    <!--</bean>-->

    <!-- 使用alibaba druid数据源的相关配置 -->
    <!-- 阿里 druid 数据库连接池 -->
    <bean id = "dataSource" class = "${jdbc.dataSource}" >
        <!-- 数据库基本信息配置 -->
        <property name = "url" value = "${jdbc.url}" />
        <property name = "username" value = "${jdbc.username}" />
        <property name = "password" value = "${jdbc.password}" />
        <property name = "driverClassName" value = "${jdbc.driverClassName}" />
        <property name = "filters" value = "${jdbc.filters}" />
        <!-- 最大并发连接数 -->
        <property name = "maxActive" value = "${jdbc.maxActive}" />
        <!-- 初始化连接数量 -->
        <property name = "initialSize" value = "${jdbc.initialSize}" />
        <!-- 配置获取连接等待超时的时间 -->
        <property name = "maxWait" value = "${jdbc.maxWait}" />
        <!-- 最小空闲连接数 -->
        <property name = "minIdle" value = "${jdbc.minIdle}" />
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name = "timeBetweenEvictionRunsMillis" value ="${jdbc.timeBetweenEvictionRunsMillis}" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name = "minEvictableIdleTimeMillis" value ="${jdbc.minEvictableIdleTimeMillis}" />

        <property name = "validationQuery" value = "${jdbc.validationQuery}" />
        <property name = "testWhileIdle" value = "${jdbc.testWhileIdle}" />
        <property name = "testOnBorrow" value = "${jdbc.testOnBorrow}" />
        <property name = "testOnReturn" value = "${jdbc.testOnReturn}" />
        <property name = "maxOpenPreparedStatements" value ="${jdbc.maxOpenPreparedStatements}" />
        <!--
            下边俩个配置，通过datasource.getConnontion() 取得的连接必须在removeAbandonedTimeout这么多秒内调用close(),要不我就弄死你.(就是conn不能超过指定的租期)
            对于业务真要运行成长时间，建议关闭或延长时间
        -->
        <!-- 打开 removeAbandoned 功能 -->
        <property name = "removeAbandoned" value = "${jdbc.removeAbandoned}" />
        <!-- 1800 秒，也就是 30 分钟 -->
        <property name = "removeAbandonedTimeout" value ="${jdbc.removeAbandonedTimeout}" />

        <!-- 关闭 abanded 连接时输出错误日志 -->
        <property name = "logAbandoned" value = "${jdbc.logAbandoned}" />
    </bean>

    <bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
        <property name="slowSqlMillis" value="${jdbc.slowSql}" />
        <property name="logSlowSql" value="true" />
    </bean>

    <bean id="wall-filter" class="com.alibaba.druid.wall.WallFilter">
        <property name="dbType" value="mysql" />
    </bean>

    <bean id="log-filter" class="com.alibaba.druid.filter.logging.Log4jFilter">
        <property name="resultSetLogEnabled" value="false" />
        <property name="statementExecutableSqlLogEnable" value="true" />
    </bean>
    <!-- 使用alibaba druid数据源的相关配置 -->

    <!-- session工厂 -->
    <!-- spring与hibernate整合配置，扫描所有dao -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!-- 注册上边datasource中的配置信息，为hibernate所用 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 项目实体类所在目录说明 -->
        <property name="packagesToScan">
            <list>
                <!-- 可以加多个包 -->
                <value>com.shop.model</value>
            </list>
        </property>
        <!-- bibernate的一些配置 -->
        <property name="hibernateProperties">
            <props>

                <!-- 允许Hibernate针对特定的关系数据库生成优化的SQL -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>

                <!-- 在SessionFactory创建时，自动检查数据库结构 取值 validate | update | create | create-drop -->
                <prop key="hibernate.hbm2ddl.auto">update</prop>

                <!-- 输出所有SQL语句到控制台 -->
                <prop key="hibernate.show_sql">false</prop>

                <!-- 在log和console中打印出更漂亮的SQL -->
                <prop key="hibernate.format_sql">true</prop>

                <!-- 允许被缓存的JDBC连接开启自动提交(autocommit) (不建议). -->
                <prop key="hibernate.connection.autocommit">false</prop>

                <!-- 为"当前" Session指定一个(自定义的)策略。 如： jta | thread | custom.Class -->
                <prop key="hibernate.current_session_context_class">thread</prop>


                <!-- 能用来完全禁止使用二级缓存. 对那些在类的映射定义中指定<cache>的类，会默认开启二级缓存. -->
                <prop key="hibernate.cache.use_second_level_cache">true</prop>

                <!-- 允许查询缓存, 个别查询仍然需要被设置为可缓存的. -->
                <prop key="hibernate.cache.use_query_cache">true</prop>

                <!--  -->
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>

                <!-- 二级缓存区域名的前缀. -->
                <prop key="hibernate.cache.region_prefix">hibernate</prop>

                <!-- 强制Hibernate以更人性化的格式将数据存入二级缓存. -->
                <prop key="hibernate.cache.use_structured_entries">true</prop>

                <!-- 二级缓存监测 -->
                <prop key="hibernate.generate_statistics">false</prop>

                <!--  -->
                <prop key="hibernate.redis.cacheTimeSeconds">86400</prop>
            </props>
        </property>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 配置事务异常封装 -->
    <bean id="persistenceExceptionTranslationPostProcessor"
          class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!-- 配合<tx:advice>和<aop:advisor>完成了事务切面的定义 -->
    <!-- 使用强大的切点表达式是语言轻松定义目标方法 -->
    <aop:config proxy-target-class="true">
        <!-- 通过aop定义事务增强切面 -->
        <aop:pointcut expression=" execution(* com.shop.service..*(..))"
                      id="serviceMethod" />
        <!-- 引用事务增强 -->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod" />
    </aop:config>
    <!-- 事务增强 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!-- 事务属性定义 -->
        <tx:attributes>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>

    <!-- 开启注解事务-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
</beans>